body{
    font-family: verdana, sans-serif; 
}

 /* Parte Inicial 
 
 
 */
.Start{
    position: relative;
    left: 4px;
    background-color: #ffffff;
    height: 600px;
    width: auto;
    border-radius: 1%;
    box-shadow: 15px 5px 15px 0px rgb(44, 44, 44, 0.15);
}

.Nome{                  /* Meu nome titulo*/
    top: 100px;
    position: relative;
    margin: 0px 0px 0px 0px;
    align-items: center;
    color: #000000;
    text-align: center;
}

.description{           /* Descrição basica*/
    position: relative;
    margin: 120px 0px 0px 0px;
    font-size: 140%;
    color: #444444;
    text-align: center;
    display: block;
}


.boximages{         /*Container com imagens ilustrativas*/
    width: 55%;
    display: inline-block;
    height: 400px;
    bottom: 100px;
    position: relative;
}

 /*Imagens */    
.mouse{
    position: absolute;
    top: 25%;
    left: 60%;
    width: 30px;
}

.computer{
    position: absolute;
    left: 20%;
    top: 20%;
}




.line{    /* Linha de estilização*/
    color: rgb(0, 0, 0);
    width: 2px;
    background-color: #000000;
    position: relative;
    display: inline-block;   
    position: relative;
    margin: 0px 30px 0px 0px;
    bottom: 125px

}

                /*Container para deixar o texto em sequencia da linha*/
.detalhes{
    height: 400px;
    width: 35%;
    display: inline-block;
    vertical-align: text-bottom;    /*Sem ele = BUG*/
    bottom: 30px;
    position: relative;
    top: 40px;
}

.detalhestx{  /*Estilização do texto*/

    color: #000000;
    font-size: 150%;
    font-family:verdana, sans-serif;
    text-align: justify;
}

/* Meio do Site com mais informações */

.MoreInfo{
    height: 800px;
}

.WebPages{
    height: 200px;
    width: 30%;
    margin: 100px 9% 100px 9%;
    display: inline-block;
    vertical-align: text-bottom;
    border-radius: 5%;
    box-shadow: 5px 5px 15px 0px rgb(44, 44, 44, 0.15);
    text-align: center;

}

.WebPages.center{
    vertical-align: middle;
}

.images{
    height: 70%;
    position: relative;
    top: 10%;
}

.webpagetx{
    font-size: 26px;
    position: relative;
}


a:-webkit-any-link{
    height: 0px;
    width: 0px;
    color: #F7F7F7;
}



/*Animação*/
[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime = "left"]{
    transform: translate3d(-50px, 0px ,0px);
}

[data-anime = "right"]{
    transform: translate3d( 50px, 0px,0px);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px ,0px);
}